<% if user_signed_in? %>
Hello <strong><a href="<%= user_path(current_user.login)%>"><%= current_user.name %></a></strong>,
<% if not params[:controller].match(/cpanel/) %>
  <a href="<%= notes_path %>">记事本</a> | 
  <%= link_to('Settings', edit_user_registration_path) %> |
  <% if admin? current_user %><a href="/cpanel">Background</a> | <% end %>
<% end %>
<% else %>
  <%= link_to('Join the community', new_user_registration_path)  %>  
<% end %>
