<div id="ask">
<%= simple_form_for(@ask) do |f| %>
  <div class="inputs">
    <%= f.input :title, :label => "Title", :input_html => {:class => "long"}%>
    <%= f.input :body, :label => "Body", :as => :text, :input_html => {:class => "long"} %>
      <script type="text/javascript">
        $("#ask_body").qeditor({'is_mobile_device': <%= is_mobile_device? ? 'true' : 'false' %>});
      </script>
  </div>
  <div class="actions">
    <button class="submit">Submit a question</button> or <%= link_to 'go back', asks_path %>
  </div>
<% end %>
</div>
