<div id="share_ask">
  <h2>Share</h2>
  <div class="dialog_tabs">
    <a href="#" show="email" class="tab"><span class="has_icon email">Email</span></a>
    <a href="#" show="url" class="tab"><span class="has_icon url">Forwarding address</span></a>
  </div>
  <form action="<%= share_ask_path(@ask.id) %>" class="simple_form" method="post" data-remote="true">
    <%= auth_token %>
    <div style="display:none" class="share_panel" id="share_panel_email">
      <input type="hidden" name="type" value="email" />
      <div class="row">
        <label>Recipients:</label>
        <input type="text" name="to" placeholder="如：user@163.com" required="required" type="email" />
      </div>
      <div class="row">
        <label>Mail subject:</label>
        <input type="text" style="width:400px;" required="required" name="subject" value="<%= current_user.name %> recommended a question to you" />
      </div>
      <div class="row">
        <label>Body:</label>
        <textarea style="width:400px;height:60px;" required="required" onclick="$(this).height(150);" name="body"><%= current_user.name %>Said：
To recommend to you this question《<%=@ask.title%>》
Access address：<%= ask_url(@ask.id) %></textarea>
      </div>
      <div class="actions"><button type="submit">Share it</button> or <a href="#" onclick="$.facebox.close();return false;">go back</a></div>
    </div>
    <div style="display:none" class="share_panel" id="share_panel_url">
      <div class="row">
        <label>Recommended text:</label>
        <textarea type="text" style="width:400px;height:50px;"><%= @ask.title %>
<%= ask_url(@ask.id) %></textarea>
        <p class="hint">You can copy the contents of the above, and send to your friends, they click on the link you can see this page.</p>
      </div>
      <div class="actions"><a href="#" onclick="$.facebox.close();return false;">Back</a></div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("#share_ask .dialog_tabs a").click(function(){
    a = $(this);
    $(".share_panel").hide();
    $("#share_panel_"+a.attr("show")).show().find("input,textarea").first().focus().select();
    $("#share_ask .dialog_tabs a").removeClass("actived");
    $(this).addClass("actived");
    return false;
  });
  <% if !params[:type].blank? %>
    $("#share_ask .dialog_tabs a[show*=<%= params[:type] %>]").click();
  <% else %>
    $("#share_ask .dialog_tabs a").first().click();
  <% end %>
</script>
