<% content_for :sitemap do %><span class="current">Join the community</span><% end %>
<div class="leftbox">
	<div class="box">
    <% if not Setting.allow_register %>
      <h1>How to registered users？</h1>
      <div class="content">
        To control the quality of the content community, invite others to join you must pass.<br />
        You can use your social resources, find other people to invite you.<br /><br />
        <p style="font-size:14px;">Or send your personal information to: </p>
        <ul style="margin:10px 20px;">
          <% Setting.admin_emails.each do |email| %>
            <li><a href="mailto:<%= email %>"><%= email %></a></li>
          <% end%>
        </ul>
        <p>After our review, if you meet the requirements, we will send you<b>Invitation link</b>，So please try to describe yourself.
      </div>
    <% else %>
      <h1>Register a new user</h1>
      <p style="color:green; margin-bottom:10px;">Registration is now open during the interim, if you have not<%= Setting.app_name %>Account, then quickly registered it！</p>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
        <%= render "shared/error_messages", :target => resource %> 
        <%= f.input :name, :label => "Name (can not be changed after registration)" %>
        <%= f.input :email, :label => "Email" %>
        <%= f.input :password, :as => :password, :label => "Password" %>
        <%= f.input :password_confirmation, :as => :password, :label => "Confirm Password"  %>
        <div class="actions"><button type="submit" class="button submit">Submit registration information</button></div>
      <% end %>
    <% end %>
  </div>
</div>
<%= content_for :sidebar do %>
  <div class="box">
    <h2>Already have an account？</h2>
    <p style="line-height:20px;">
    <%= render :partial => "devise/shared/links" %>
    </p>
  </div>
  <div class="box">
    <h2>About Registration</h2>
    <div class="inner">
      <%= Setting.app_name %>Invitation before they can register their own needs, but we will occasionally open a temporary registration in some special day.<br />
      If you see this page, then congratulations to you, and quickly registered it, if you have not<%= Setting.app_name %>Account words.
    </div>
  </div>
<% end %>
