<%= render :partial => 'logs/notifies' %>

<div class="newbie">
	<h1>Welcome to all newbies</h1>
	<div class="welcome">
		Here is a meet you all kinds of curiosity, knowledge, discover, socialize, discuss the place of desire. She made countless places from numerous industries <span class="orange">people</span>、They proposed a variety of
 <span class="green">issue</span> And various organizational issues for <span class="purple">topis</span> Components. You can use the search box at the top to try to search for the keywords you're interested in, and concerned about a number of topics, issues or people. When you focus too, you can see the dynamic of these people, the problem, but also in "<a href="/followed">My question concerns</a>” Saw new and old issues of interest to you。
	</div>
	<br>
	Sometimes go “<a href="<%= doing_path %>">Were also taking place</a>”Stroll is a good question and discussion of interest to find ways.
	<br>
	<br>
	
	<% if !@hot_topics.nil? and @hot_topics.size > 0 %>
	<h2>Or you can go and see these recent hot topics:</h2>
	<ul class="hot-topics">
		<% for topic in @hot_topics %>
		<li><a href="<%= topic_path(topic) %>"><%= topic %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<% 
	waiting_asks = @asks.where(:answers_count.lte => 2).where(:created_at.lte => (Time.now - 12.hours)).limit(10)
	if waiting_asks.size > 0
	%>
	<br>
	<h2>Or is going to give those waiting to add some questions that you know the answer：</h2>
	<ul class="hot-asks">
		<% for ask in waiting_asks %>
		<li><a href="<%= ask_path(ask) %>"><%= ask.title %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<% if @asks.size > 0 %>
	<br>
	<h2>You can also look at these hot issues：</h2>
	<ul class="hot-asks">
		<% for ask in @asks.order_by(:answers_count.desc, :views_count.desc).limit(10) %>
		<li><a href="<%= ask_path(ask) %>"><%= ask.title %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<br>
	<p>
		I wish you "were also" enjoyable.
	</p>
</div>
<%= render "asks/sidebar" %>
