<h2>Accept the invitation, registered users户</h2>
<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  <%= f.input :email, :input_html => { :disabled => :disabled } %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <div class="actions">
    <button type="submit" class="submit">Submit registration information</button>
  </div>
<% end %>
<div style="margin-top:20px;" class="sidebar">
  <div class="box">
    <h2>Description</h2>
    <div class="content">
      You are invited over by others.<br />
      Powered respected name system, please fill out your registration information true.<br />
      After successful registration, please read carefully the current site again.
    </div>
  </div>
</div>
