<% content_for :styles do %>
  <style type="text/css">
    .tip { margin: 10px 0; }
  </style>
<% end %>
<h2>Invite your friends</h2>
<div class="tip">
  When your friends come first<br />
  Please remember to help him learn how to ask and answer questions, just like you have helped someone
</div>
<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :name, :label => "Name" %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :tagline, :label => "His features", :input_html => { :class => "long" }, :hint => "With a brief description of the person, then features, such as: Technical cattle, certain site founder" %>
  <button type="submit" class="submit">Send an invitation email</button>
<% end %>
<% content_for :sidebar do %>
  <div class="box">
    <h2>Description invitation</h2>
    <div class="content">
      This site is not open for registration, and only by invitation before they can join.
    </div>
  </div>
<% end %>
